# Ignore virtual environment folder
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore Django migrations
*/migrations/*.py
*/migrations/*.pyc

/frontend/political_scale/node_modules

# Ignore the SQLite database
db.sqlite3
db.sqlite3-journal

# Ignore media files
/media/

# Ignore Django-generated static files
/static/

# Ignore environment variable files
.env

# Ignore IDE/editor configurations (optional)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store

# dependencies
/frontend/political_scale/node_modules
/frontend/political_scale/.pnp
/frontend/political_scale/.pnp.js

# testing
/frontend/political_scale/coverage

# production
/frontend/political_scale/build

# misc
/frontend/political_scale/.DS_Store
/frontend/political_scale/.env.local
/frontend/political_scale/.env.development.local
/frontend/political_scale/.env.test.local
/frontend/political_scale/.env.production.local

/frontend/political_scale/npm-debug.log*
/frontend/political_scale/yarn-debug.log*
/frontend/political_scale/yarn-error.log*